In [247]:


import pandas as pd 

# reading csv file 
data = pd.read_csv('cpdata.csv') 

# shape of dataset 
print("Shape:", data.shape) 

# column names 
print("\nFeatures:", data.columns) 

# storing the feature matrix (X) and response vector (y) 
X = data[data.columns[:-1]] 
y = data[data.columns[-1]] 

# printing first 5 rows of feature matrix 
print("\nFeature matrix:\n", X.head()) 

# printing first 5 values of response vector 
print("\nResponse vector:\n", y.head())

Shape: (6200, 5)

Features: Index(['temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

Feature matrix:
    temperature   humidity        ph    rainfall
0    25.547599  91.641948  5.702485  212.867626
1    31.655312  60.132637  6.526692   66.690968
2    23.461683  23.221976  5.645436   95.842534
3    23.086593  83.555461  7.227746   71.840807
4    23.750331  92.881605  5.570021  117.660283

Response vector:
 0         COCONUT
1      BLACK GRAM
2    KIDNEY BEANS
3          COTTON
4           APPLE
Name: label, dtype: object

In [248]:

from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1) 
  
# printing the shapes of the new X objects 
print(X_train.shape) 
print(X_test.shape) 
  
# printing the shapes of the new y objects 
print(y_train.shape) 
print(y_test.shape)

(3720, 4)
(2480, 4)
(3720,)
(2480,)

In [249]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1) 
  
# training the model on training set 
from sklearn.neighbors import KNeighborsClassifier 
knn = KNeighborsClassifier(n_neighbors=3) 
knn.fit(X_train, y_train) 
  
# making predictions on the testing set 
y_pred = knn.predict(X_test) 
from sklearn import metrics 
print("kNN model accuracy:", metrics.accuracy_score(y_test, y_pred)) 

# making prediction for out of sample data 
sample = [[25, 91, 5, 212],[26, 8, 6, 200]]
preds = knn.predict(sample) 
 
print("Predictions:", preds)

kNN model accuracy: 0.8625
Predictions: ['COCONUT' 'PIGEON PEAS']

In [250]:
from sklearn.externals import joblib 
joblib.dump(knn, 'crop_prediction.pkl')

['crop_prediction.pkl']

In [12]:
#!pip install joblib

In [13]:
model = joblib.load(open('crop_prediction.pkl', 'rb'))

In [14]:
model.predict(sample)

array(['COCONUT', 'PIGEON PEAS'], dtype=object)

In [22]:
!pip show joblib

Name: joblib
Version: 0.14.1
Summary: Lightweight pipelining: using Python functions as pipeline jobs.
Home-page: https://joblib.readthedocs.io
Author: Gael Varoquaux
Author-email: gael.varoquaux@normalesup.org
License: BSD
Location: /home/spchandgude/.local/lib/python2.7/site-packages
Requires:

In [8]:
from sklearn.externals import joblib

In [24]:
tenure = pd.read_csv('tenure.csv')

In [25]:
tenure

           Crops  min.time  max.time
0        COCONUT      60.0      72.0
1     BLACK GRAM       3.0       3.5
2   KIDNEY BEANS       3.0       3.5
3         COTTON       5.0       8.0
4          APPLE      72.0     120.0
5     MOTH BEANS       2.5       3.0
6           JUTE       3.0       5.0
7          MANGO      60.0     100.0
8      MUNG BEAN       3.0       4.0
9          WHEAT       2.0       5.0
10   POMEGRANATE      36.0      48.0
11  ADZUKI BEANS       3.0       4.0
12        RUBBER     100.0     150.0
13        GRAPES      30.0      36.0
14           TEA      36.0      50.0
15       TOBACCO       1.5       3.0
16     SUGARCANE      12.0      18.0
17        PAPAYA       6.0      11.0
18          PEAS       2.0       2.5
19     GROUNDNUT       4.0       6.0
20        BANANA      10.0      15.0
21        LENTIL       3.0       4.0
22    WATERMELON       2.0       3.0
23        MILLET       2.0       2.5
24        ORANGE      36.0      48.0
25   PIGEON PEAS       3.5       5.0
26      CHICKPEA       3.0       4.0
27        COFFEE      36.0      48.0
28         MAIZE       2.0       3.4
29          RICE       4.0       5.0
30    MUSK MELON       2.5       3.5
31  CHICK PEAS         3.0       6.0

In [32]:
joblib.dump(tenure, 'tenure.pkl')

['tenure.pkl']

In [37]:
tenure_filtered=tenure[tenure['Crops'] == 'COCONUT']

In [38]:
min=tenure_filtered['min.time']

In [53]:
min

0    60.0
Name: min.time, dtype: float64

In [77]:
max=tenure_filtered['max.time']

In [78]:
d= str(max)

In [79]:
d

'0    72.0\nName: max.time, dtype: float64'

In [80]:
d=d.split("\n")

In [81]:
d

['0    72.0', 'Name: max.time, dtype: float64']

In [82]:
d=d[0]

In [83]:
d

'0    72.0'

In [84]:
d=d.split()

In [85]:
d[1]

'72.0'

In [28]:
b=float(min[0])

In [29]:
b

60.0

In [30]:
type(b)

float

In [31]:
np

NameError: name 'np' is not defined

In [87]:
tenure_filtered=tenure[tenure['Crops'] == 'COCONUT']
a=tenure_filtered['min.time']
b=tenure_filtered['max.time']

l = str(a)
l=l.split("\n")
l=l[0]
l=l.split()
output2=l[1]

m = str(b)
m=m.split("\n")
m=m[0]
m=m.split()
output3=m[1]

In [88]:
output3

'72.0'

In [60]:
cost = pd.read_csv('cost_of_production.csv')

In [61]:
cost

,Crop,Field Preparation,Nursery and planting sowing,Weeding,Protection,Fertilizers,Wages,"Staking, transport and other expenses",Total
0,Wheat,5500,4500,3300,3000,6000,700,1000,24000
1,Mungbean,4000,3300,3400,1900,7000,1100,2300,23000
2,Tea,20000,90000,15000,20000,30000,10000,15000,200000
3,Millet,4000,10000,3500,3500,8000,1000,1000,31000
4,Maize,3500,4400,3100,1000,4500,500,1000,18000
5,Lentil,8000,12000,8000,4000,7000,2000,1000,42000
6,Jute,35000,65000,55000,8000,75000,2000,10000,250000
7,Cofee,40000,95000,55000,2000,80000,2000,18000,300000
8,Cotton,17500,12000,5500,2000,18500,1500,2000,59000
9,Groundnut,17000,12500,4500,3000,15000,1000,1000,52000
10,Peas,8000,9000,3000,2500,7000,500,1000,31000
11,Rubber,12000,23000,9000,8000,12000,1000,3000,70000
12,Sugarcane,23000,30000,7000,4500,14500,1500,10000,90000
13,Tobacco,5000,8000,4000,3000,4000,1000,1000,26000
14,Kidney beans,7000,7000,5000,4000,7000,4000,2000,36000
15,Moth beans,6500,7500,4500,4500,8000,3500,2500,35000
16,Pigeon peas,5000,9000,6500,5000,13000,500,1000,40000
17,Chick peas,4000,11000,4000,2000,7000,2000,1500,31500
18,Banana,25000,60000,15000,3000,40000,2000,6000,148000
19,Grapes,40000,110000,40000,30000,30000,80000,20000,350000
20,Apple,3000,15000,3500,8000,12000,2000,3500,47000
21,Mango,5000,17000,5500,10000,14000,2000,5500,55000
22,Muskmelon,7000,7000,5000,4500,5500,1000,5000,35000
23,Orange,1000,4000,1500,1000,3500,500,2250,13750
24,Papaya,3000,4000,2000,1000,5000,1000,3000,18000
25,Watermelon,5000,10000,5000,5000,12000,2000,6000,45000
26,Pomegranate,4000,4000,5000,4000,7000,2000,1000,27000
27,ADZUKI BEANS,4000,2000,4000,3000,5000,2000,1000,21000
28,BLACK GRAM,4000,1000,5000,2000,2000,2000,1000,17000
29,RICE,10000,1000,5000,3000,2000,3000,3000,27000
30,Coconut,12000,1000,4000,3000,2000,3000,3000,28000

In [62]:
cost['Crop'] = cost['Crop'].str.upper()

In [63]:
cost

,Crop,Field Preparation,Nursery and planting sowing,Weeding,Protection,Fertilizers,Wages,"Staking, transport and other expenses",Total
0,WHEAT,5500,4500,3300,3000,6000,700,1000,24000
1,MUNGBEAN,4000,3300,3400,1900,7000,1100,2300,23000
2,TEA,20000,90000,15000,20000,30000,10000,15000,200000
3,MILLET,4000,10000,3500,3500,8000,1000,1000,31000
4,MAIZE,3500,4400,3100,1000,4500,500,1000,18000
5,LENTIL,8000,12000,8000,4000,7000,2000,1000,42000
6,JUTE,35000,65000,55000,8000,75000,2000,10000,250000
7,COFEE,40000,95000,55000,2000,80000,2000,18000,300000
8,COTTON,17500,12000,5500,2000,18500,1500,2000,59000
9,GROUNDNUT,17000,12500,4500,3000,15000,1000,1000,52000
10,PEAS,8000,9000,3000,2500,7000,500,1000,31000
11,RUBBER,12000,23000,9000,8000,12000,1000,3000,70000
12,SUGARCANE,23000,30000,7000,4500,14500,1500,10000,90000
13,TOBACCO,5000,8000,4000,3000,4000,1000,1000,26000
14,KIDNEY BEANS,7000,7000,5000,4000,7000,4000,2000,36000
15,MOTH BEANS,6500,7500,4500,4500,8000,3500,2500,35000
16,PIGEON PEAS,5000,9000,6500,5000,13000,500,1000,40000
17,CHICK PEAS,4000,11000,4000,2000,7000,2000,1500,31500
18,BANANA,25000,60000,15000,3000,40000,2000,6000,148000
19,GRAPES,40000,110000,40000,30000,30000,80000,20000,350000
20,APPLE,3000,15000,3500,8000,12000,2000,3500,47000
21,MANGO,5000,17000,5500,10000,14000,2000,5500,55000
22,MUSKMELON,7000,7000,5000,4500,5500,1000,5000,35000
23,ORANGE,1000,4000,1500,1000,3500,500,2250,13750
24,PAPAYA,3000,4000,2000,1000,5000,1000,3000,18000
25,WATERMELON,5000,10000,5000,5000,12000,2000,6000,45000
26,POMEGRANATE,4000,4000,5000,4000,7000,2000,1000,27000
27,ADZUKI BEANS,4000,2000,4000,3000,5000,2000,1000,21000
28,BLACK GRAM,4000,1000,5000,2000,2000,2000,1000,17000
29,RICE,10000,1000,5000,3000,2000,3000,3000,27000
30,COCONUT,12000,1000,4000,3000,2000,3000,3000,28000

In [64]:
tenure.sort_values('Crops')

           Crops  min.time  max.time
11  ADZUKI BEANS       3.0       4.0
4          APPLE      72.0     120.0
20        BANANA      10.0      15.0
1     BLACK GRAM       3.0       3.5
31  CHICK PEAS         3.0       6.0
26      CHICKPEA       3.0       4.0
0        COCONUT      60.0      72.0
27        COFFEE      36.0      48.0
3         COTTON       5.0       8.0
13        GRAPES      30.0      36.0
19     GROUNDNUT       4.0       6.0
6           JUTE       3.0       5.0
2   KIDNEY BEANS       3.0       3.5
21        LENTIL       3.0       4.0
28         MAIZE       2.0       3.4
7          MANGO      60.0     100.0
23        MILLET       2.0       2.5
5     MOTH BEANS       2.5       3.0
8      MUNG BEAN       3.0       4.0
30    MUSK MELON       2.5       3.5
24        ORANGE      36.0      48.0
17        PAPAYA       6.0      11.0
18          PEAS       2.0       2.5
25   PIGEON PEAS       3.5       5.0
10   POMEGRANATE      36.0      48.0
29          RICE       4.0       5.0
12        RUBBER     100.0     150.0
16     SUGARCANE      12.0      18.0
14           TEA      36.0      50.0
15       TOBACCO       1.5       3.0
22    WATERMELON       2.0       3.0
9          WHEAT       2.0       5.0

In [65]:
cost.sort_values('Crop')

,Crop,Field Preparation,Nursery and planting sowing,Weeding,Protection,Fertilizers,Wages,"Staking, transport and other expenses",Total
27,ADZUKI BEANS,4000,2000,4000,3000,5000,2000,1000,21000
20,APPLE,3000,15000,3500,8000,12000,2000,3500,47000
18,BANANA,25000,60000,15000,3000,40000,2000,6000,148000
28,BLACK GRAM,4000,1000,5000,2000,2000,2000,1000,17000
17,CHICK PEAS,4000,11000,4000,2000,7000,2000,1500,31500
30,COCONUT,12000,1000,4000,3000,2000,3000,3000,28000
7,COFEE,40000,95000,55000,2000,80000,2000,18000,300000
8,COTTON,17500,12000,5500,2000,18500,1500,2000,59000
19,GRAPES,40000,110000,40000,30000,30000,80000,20000,350000
9,GROUNDNUT,17000,12500,4500,3000,15000,1000,1000,52000
6,JUTE,35000,65000,55000,8000,75000,2000,10000,250000
14,KIDNEY BEANS,7000,7000,5000,4000,7000,4000,2000,36000
5,LENTIL,8000,12000,8000,4000,7000,2000,1000,42000
4,MAIZE,3500,4400,3100,1000,4500,500,1000,18000
21,MANGO,5000,17000,5500,10000,14000,2000,5500,55000
3,MILLET,4000,10000,3500,3500,8000,1000,1000,31000
15,MOTH BEANS,6500,7500,4500,4500,8000,3500,2500,35000
1,MUNGBEAN,4000,3300,3400,1900,7000,1100,2300,23000
22,MUSKMELON,7000,7000,5000,4500,5500,1000,5000,35000
23,ORANGE,1000,4000,1500,1000,3500,500,2250,13750
24,PAPAYA,3000,4000,2000,1000,5000,1000,3000,18000
10,PEAS,8000,9000,3000,2500,7000,500,1000,31000
16,PIGEON PEAS,5000,9000,6500,5000,13000,500,1000,40000
26,POMEGRANATE,4000,4000,5000,4000,7000,2000,1000,27000
29,RICE,10000,1000,5000,3000,2000,3000,3000,27000
11,RUBBER,12000,23000,9000,8000,12000,1000,3000,70000
12,SUGARCANE,23000,30000,7000,4500,14500,1500,10000,90000
2,TEA,20000,90000,15000,20000,30000,10000,15000,200000
13,TOBACCO,5000,8000,4000,3000,4000,1000,1000,26000
25,WATERMELON,5000,10000,5000,5000,12000,2000,6000,45000
0,WHEAT,5500,4500,3300,3000,6000,700,1000,24000

In [66]:
joblib.dump(cost, 'cost.pkl')

['cost.pkl']

In [67]:
cost_filtered=cost[cost['Crop'] == 'COCONUT']

In [138]:
cost

           Crop              Diseases     Pesticide
0         WHEAT   Barley Yellow Dwarf      Bulldock
1         WHEAT    Crown and Root Rot         Banol
2         WHEAT             Leaf Rust      Stature
3         WHEAT  Fusarium Head Blight  streptomycin
4         WHEAT              Tan spot  sulfur spray
..          ...                   ...           ...
152  MOTH BEANS      Bacterial blight  streptomycin
153  MOTH BEANS  Bacterial brown spot  sulfur spray
154  MOTH BEANS           Halo blight  streptomycin
155  MOTH BEANS           Damping-off     Mycostop
156  MOTH BEANS               Mosaic        Thyla-P

[157 rows x 3 columns]

In [68]:
cost_filtered

,Crop,Field Preparation,Nursery and planting sowing,Weeding,Protection,Fertilizers,Wages,"Staking, transport and other expenses",Total
30,COCONUT,12000,1000,4000,3000,2000,3000,3000,28000

In [70]:
a1=cost_filtered['Field Preparation']
a2=cost_filtered['Nursery and planting sowing']
a3=cost_filtered['Weeding']
a4=cost_filtered['Protection']
a5=cost_filtered['Fertilizers']
a6=cost_filtered['Wages']
a7=cost_filtered['Staking, transport and other expenses']
a8=cost_filtered['Total']

In [88]:
a3

30    4000
Name: Weeding, dtype: int64

In [90]:
x3 = str(a3)
x3=x3.split("\n")
x3=x3[0]
x3=x3.split()
output6=x3[1]

In [91]:
output6

'4000'

In [232]:
pesticides= pd.read_csv('pesticides.csv')
joblib.dump(pesticides, 'pesticides.pkl')

['pesticides.pkl']

In [233]:
pesticides['Crop'].unique()

array(['WHEAT', 'MUNG BEAN', 'TEA', 'MILLET', 'MAIZE', 'LENTIL', 'JUTE',
       'COFFEE', 'COTTON', 'GROUND NUT', 'PEAS', 'POMEGRANATE',
       'WATERMELON', 'PAPAYA', 'ORANGE', 'MUSKMELON', 'MANGO', 'APPLE',
       'GRAPES', 'BANANA', 'CHICK PEAS', 'PIGEON PEAS', 'BLACK GRAM',
       'ADZUKI BEANS', 'KIDNEY BEANS', 'RUBBER', 'COCONUT', 'TOBACCO',
       'SUGARCANE', 'MOTH BEANS'], dtype=object)

In [234]:
len(pesticides['Crop'].unique())

30

In [235]:
pesticides_filtered=pesticides[pesticides['Crop'] == 'COCONUT']

In [236]:
pesticides_filtered

        Crop               Diseases     Pesticide
132  COCONUT    Bud rot and nutfall         Banol
133  COCONUT     Ganoderma butt rot         Banol
134  COCONUT       Gray leaf blight  streptomycin
135  COCONUT        Lethal bole rot         Banol
136  COCONUT  Stem bleeding disease       benomyl

In [239]:
d = pesticides_filtered['Diseases']
d=pesticides_filtered.set_index('Diseases')

In [244]:
d

                          Crop     Pesticide
Diseases
Bud rot and nutfall    COCONUT         Banol
Ganoderma butt rot     COCONUT         Banol
Gray leaf blight       COCONUT  streptomycin
Lethal bole rot        COCONUT         Banol
Stem bleeding disease  COCONUT       benomyl

In [243]:
del pesticides_filtered['Crop']

KeyError: 'Crop'

In [218]:
pesticides_filtered=pesticides_filtered.set_index('Diseases')

KeyError: "None of ['Diseases'] are in the columns"

In [219]:
pesticides_filtered

                          Pesticide
Diseases
Bud rot and nutfall           Banol
Ganoderma butt rot            Banol
Gray leaf blight       streptomycin
Lethal bole rot               Banol
Stem bleeding disease       benomyl

In [220]:
b1=pesticides_filtered[0:1]
b2=pesticides_filtered[1:2]
b3=pesticides_filtered[2:3]
b4=pesticides_filtered[3:4]
b5=pesticides_filtered[4:5]

In [222]:
b1

                    Pesticide
Diseases
Bud rot and nutfall     Banol

In [230]:
k1=b1["Diseases"]

KeyError: 'Diseases'

In [231]:
k1

132    Bud rot and nutfall
Name: Diseases, dtype: object

In [180]:
y1 = str(k1)
y1=y1.split("\n")
y1=y1[0]
y1=y1.split()
output6=y1[1:len(k1)]

In [181]:
output6

[]

In [182]:
y1

['132', 'Bud', 'rot', 'and', 'nutfall']

In [179]:
k1

132    Bud rot and nutfall
Name: Diseases, dtype: object

In [224]:
loans= pd.read_csv('loans.csv')

In [225]:
loans

                                   loan under  interest      amount
0                    Kisan Credit Card Scheme      7.00      3 lakh
1      State Bank Of India Agricultural Loans      7.00      3 lakh
2  ICICI Bank agriculture loan interest rates     13.28    3-10lakh
3                HDFC Bank Agricultural Loans      9.45   3-10 lakh
4           Allahabad Bank Agricultural Loans     11.00   3-10 lakh
5           Bank of Baroda Agricultural Loans     10.00   3-10 lakh
6     Punjab National Bank Agricultural Loans      7.00  3-20 lakhs
7                Axis Bank Agricultural Loans     10.00  3-10 lakhs

In [227]:
loans=loans.set_index('loan under')

In [228]:
joblib.dump(loans, 'loans.pkl')

['loans.pkl']

In [229]:
loans

                                            interest      amount
loan under
Kisan Credit Card Scheme                        7.00      3 lakh
State Bank Of India Agricultural Loans          7.00      3 lakh
ICICI Bank agriculture loan interest rates     13.28    3-10lakh
HDFC Bank Agricultural Loans                    9.45   3-10 lakh
Allahabad Bank Agricultural Loans              11.00   3-10 lakh
Bank of Baroda Agricultural Loans              10.00   3-10 lakh
Punjab National Bank Agricultural Loans         7.00  3-20 lakhs
Axis Bank Agricultural Loans                   10.00  3-10 lakhs